.footer {
  height: 100vh;
  width: 100%;
  background-image: url("../../assets/background1.png");
  background-size: 1520px 700px;
  background-repeat: no-repeat;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.thank {
  height: 300px;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
}

.contacts {
  display: flex;
  height: 223px;
  background: linear-gradient(
    180deg,
    rgba(30, 47, 74, 0.8) 0%,
    rgba(1, 30, 75, 0.8) 100%
  );
}

.location {
  width: 33.3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.phone {
  width: 33.3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.email {
  width: 33.3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.quicksupport {
  background-color: #00000038;
  padding-bottom: 1px;
}

@media (max-width: 768px) {
  .thank {
    height: auto; /* Let the height adapt */
    text-align: center; /* Center-align text */
    padding: 20px; /* Add padding for spacing */
    font-size: clamp(1rem, 3vw, 1.5rem); /* Responsive font size */
  }

  .location,
  .phone,
  .email {
    font-size: clamp(0.8rem, 2vw, 1rem); /* Responsive font size */
  }

  .quicksupport {
    padding: 20px; /* Adjust padding for smaller screens */
    margin-top: 68px;
    color: white;
  }
}

@media (max-width: 414px) {
  .informationheader {
    font-size: 13px;
  }

  .location img {
    width: 35px;
  }

  .phone img {
    width: 35px;
  }

  .email img {
    width:
     35px;
  }

  .headerone {
    font-size: 15px;
  }

  .headertwo {
    font-size: 12px;
  }

  .headerthree {
    font-size: 12px;
  }

  .footer {
    height: 100vh;
    width: 100%;
    background-image: url("../../assets/background1.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .quicksupport {
    background-color: #00000038;
    padding-bottom: 1px;
    margin-top: 158px;
  }
}
